@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&display=swap');

/*Login Page*/
.login{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 80vh;
}
#logo-landing{
    font-family: Great Vibes;
    margin-bottom: 50px;
    font-size: xxx-large;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5px
}
input{
    padding: 12px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 200px;
    color: grey;
    font-family: sans-serif;
    font-size: small;
}
#login-button{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    color: white;
    background-color: rgb(48, 141, 240);
    font-family: sans-serif;
}
/*Feed Page*/
.container{
    margin-left: 25%;
    margin-right: 25%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
.links{
    height: 20px;
}
#logo-feed{
    font-family: Great Vibes;
}
.links-feed{
    display: flex;
    gap: 10px;
}
#profile-pic-feed{
    height: 30px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 50px;
}
.left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    font-size: small;
    font-family: sans-serif;
}
#username, #more, .embolden{
    font-weight: 700;
}
#post{
    height:500px;
    width: 250px;
}
.image-feed{
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.post-options{
    display: flex;
    justify-content: space-between;
}
.comment-section{
    color: grey;
}
/*account page*/
.account-button{
    width: 70px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-family: sans-serif;
    font-weight: 700;
}
#login-button-account{
    color: white;
    background-color: rgb(48, 141, 240);
}
#signup-button-account{
    color:rgb(48, 141, 240);
    background-color: white;
}
.account-header{
    display: flex;
    align-items: center;
    gap:40px;
}
#profile-pic-account{
    height: 40px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 50px;
}
#username{
    font-weight:100;
    font-family: sans-serif;
}
.user-button{
    font-family: sans-serif;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 100px;
}
.account-info{
    margin-bottom: 20px;
}
ul{
    list-style-type: none;
    display:flex;
    justify-content: space-around;
}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.story{
    height: 50px;
    width: 50px;
    border-radius: 80px;
    border: 1px solid lightgray;
}
.follower-data{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.num-data{
    font-weight: 600;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post{
    width:106px;
    height:106px;
    border: 1px solid white;
}